<p id="notice"><%= notice %></p>

<h1>Device Ins</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Content</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @device_ins.each do |device_in| %>
      <tr>
        <td><%= device_in.title %></td>
        <td><%= device_in.content %></td>
        <td><%= link_to 'Show', device_in %></td>
        <td><%= link_to 'Edit', edit_device_in_path(device_in) %></td>
        <td><%= link_to 'Destroy', device_in, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Device In', new_device_in_path %>
